.home-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: $spacer-xl;
  padding-bottom: 0;

  @include phone-and-tablet {
    padding: $spacer-m;
  }

  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 600;
    @include font-size(s);
    & a {
      display: flex;
      & img {
        max-width: 3rem;
        margin-right: $spacer-m;
      }
    }
  }
}

.home {
  overflow: hidden;
}

.menu-icon {
  font-size: 1.7rem;
}

.bottom-cta {
  background-color: $white;
}

.main-nav {
  @include font-size(xs);

  list-style: none;
  display: flex;
  font-weight: 600;
  text-transform: uppercase;

  @include phone-and-tablet {
    @include font-size(s);

    position: absolute;
    flex-direction: column;
    top: 3rem;
    right: 0;
    height: 100vh;
    width: 0;
    text-align: right;
    background: $bg-color;
    transition: transform .3s ease;
    transform: translateX(+110%);
    overflow: hidden;
  }

  &__item {
    margin-right: $spacer-xl;

    &:last-child {
      margin-right: 0;
    }

    @include phone-and-tablet {
      padding: $spacer-m;
      margin: $spacer-m 0;

      &:first-child {
        margin-top: auto;

        &::before {
          content: '';
          display: block;
          margin-top: -3rem;
        }
      }

      &:last-child {
        margin-bottom: auto;
      }

      &:hover {
        background-color: $grey;
      }
    }
  }
}

.is-open.main-nav {
  transform: translateX(0);
  width: 100%;
}

.intro {
  margin: $spacer-xxl auto;
  max-width: 30rem;
}

.hero {
  position: relative;
  height: 100%;
  min-height: 90vh;
  background-color: $bg-color;
  display: flex;
  padding: $spacer-xl;
  text-align: center;

  &__inner-wrapper {
    max-width: 60em;
    margin: auto;
  }

  &__title {
    @include font-size(xxxl);

    line-height: 1.1em;
    margin-bottom: 1.5rem;
    font-weight: bold;

    @include only-phone {
      @include font-size(xxl);
    }
  }

  &__text {
    margin-bottom: 1.5rem;
    @include font-size(l);
    line-height: 1.7em;
  }

  &__line {
    height: 6rem;
    width: 2px;
    background-color: $magenta;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%);
  }
}

.home {
  background-color: $white;
}

section {
  @include content-max-width;

  padding: 0 1rem;
  margin-bottom: $spacer-xxl;
}

.roadmap {
  width: 100%;
  max-width: 100%;
}

.faq {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: $bg-color;
  padding: $spacer-xl;

  &__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
  }

  &__info {
    width: 100%;
    margin-bottom: $spacer-l;
    @include tablet-and-desktop {
      width: 30%;
      margin-right: $spacer-xl;
    }
  }

  &__q-a {

    @include tablet-and-desktop {
      width: 60%;
      max-width: 55rem;
    }
  }

}

.footer {
  background-color: $bg-color;
}

.to-top {
  display: flex;
  padding: $spacer-xl;
  justify-content: flex-end;

  button > i {
    transform: rotate(-90deg);
  }
}

.steps-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__cta {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: $spacer-m;

    & img {
      max-width: 2rem;
      margin-right: $spacer-s;
    }

    &:not(:last-child) {
      margin-right: $spacer-m;
    }
  }
}

.line {
  height: 7rem;
  width: 1px;
  margin: $spacer-l auto;
  background-color: $black;
}

.final-cta {
  position: relative;
  padding-bottom: 5%;

  &__btn {
    display: block;
    max-width: 15em;
    margin: 0 auto;
  }
}

.button-wrapper {
  display: block;
  max-width: 15em;
  margin: 0 auto;
}
