.agile__dots {
  position: absolute;
  bottom: $spacer-l;
  left: 50%;
  transform: translate(-50%);
}

.agile__dot button {
  background: $grey;
  border: none;
  margin: 0 .5rem;
  display: block;
  border-radius: 50%;
  padding: 5px;
}

.agile__dot--current button {
  background: red;
}

/* .agile__slide {
  padding-top: 3rem;
  padding-left: 2rem;
} */

.qrcode-reader {
  width: 100%;
  height: 100%;

  &__inner-wrapper {
    width: 100%;
  }
  &__camera {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__pause-frame {
    width: 100%;
    height: auto;
    filter: blur(20px);
    object-fit: cover;
  }
}

.ae-button-ledger {
  background: $color-neutral-negative-3 !important;
}

.app-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid #4E5A66;
}

.app-center-block {
  display: block;
  margin: 0 auto;
}

.app-highlight {
  font-weight: bold;
  color: $color-error;
}

.app-text-center {
  text-align: center;
}

@keyframes rotate {
  from {
    transform: scaleX(-1) rotate(0deg);
  }

  to {
    transform: scaleX(-1) rotate(360deg);
  }
}

.app-rotate {
  animation: rotate 2s reverse infinite linear;
}

.app-spacing-top {
  padding-top: 4rem;
  margin-bottom: 0;
}
