//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

a {
  color: $color-black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $color-primary;
  }
}

.title {
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: .2em;
  &-hero {
    @include font-size(xxxxl);
    line-height: 1.1em;
    margin-bottom: .4em;
    @include only-phone {
      @include font-size(xl);
    }
  }
  &-main {
    @include font-size(xxxxl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  &-sub {
    @include font-size(xxl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  &-category {
    @include font-size(xl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  &-subcategory {
    @include font-size(s);
    @include only-phone {
      @include font-size(l);
    }
  }
}

.text {

  &-small{
    @include font-size(xs);
    line-height: 2em;
  }
}
