//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

a {
  color: $color-black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $color-primary;
  }
}

.title {
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: .5em;
  //text-align:  center;
  &-hero {
    @include font-size(xxxxl);
    line-height: 1.1em;

    @include only-phone {
      @include font-size(xxl);
    }
  }
  &-main {
    @include font-size(xxxxl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  &-sub {
    @include font-size(xxxl);
    @include only-phone {
      @include font-size(xl);
    }
  }
  &-category {
    @include font-size(xl);
    @include only-phone {
      @include font-size(s);
    }
  }
  &-subcategory {
    @include font-size(s);
  }
}

.text {


  &-small{
    @include font-size(xs);
    line-height: 2em;
    @include only-phone {
      line-height: 1.5em;
    }
  }

  &-intro {
    @include font-size(l);
    line-height: 1.5em;
    @include only-phone {
      @include font-size(s);
    }
  }
}
